
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body {
    /*background-image: linear-gradient( 0.2deg,  rgba(51,204,255,1) 4.8%, rgba(51,102,255,1) 85.5% );*/
    background-image: url(img/bg.png);
    font-family: 'Squada One', cursive;
}

.column-style {
    /*border: 1px solid black;*/
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
    color: white;
}

h4 {
    color: white;
}

.form-group {
    margin-bottom: 40px;
}

.checkbox, .radio {
    margin-top: -20px;
    margin-bottom: 10px;
}

.button {
    align-items: center;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 20px;
}  

.btn-primary {
    color: #fff;
    background-color: #2280d1;
    border-color: #2e6da4;
}